* {
    --blue: #7cf0ff;
    --green: #007519;
}

.cajaBlanca {
    border: 3px solid var(--green);
    color: var(--green);
    background-color: hsl(7, 100%, 100%);
}
.cajaNegra {
    background-color: hsl(7, 100%, 0%);
    color: var(--blue);
    border: 3px solid var(--blue);
}
#cajaEjemplo {
    font-weight: bold;
    padding: 15px;
    text-align: center;
}
